.feed-box{
	position: relative;
}

.form-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.6);
	display: none;
}

.add-form{
	position: fixed;
	top: 12%;
	left: 37%;
	display: none;

}


.add-title{
	color: #fff;
	font-size: 12px;
	font-family: "OpenSansLight";
	font-weight: normal;
	position: absolute;
	/*margin: 5px 21px;*/
	top: -40px;
	left: 20px;

}

.form-container{
	box-sizing: border-box;
	width: 362px;
	background-color: #f7f6f5;
	border-radius: 5px;
	padding-right: 21px;
	padding-left: 21px;
	padding-top: 7px;
	padding-bottom: 26px;
	position: relative;
	
}

.title-url{
	margin-top: 2px;
}

label{
	position: relative;
	display: inline-block;
}

.input-cont{
	width: 320px;
	margin: 0 auto;
	position: relative;
}

.error-button{
	font-family: "OpenSansSemibold";
	font-size: 12px;
	padding: 0 6px;
	background-image: -moz-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
	background-image: -webkit-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
	background-image: -ms-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	height: 26px;
	border-radius: 6px;
	line-height: 26px;
	color: #943F20;
	white-space: nowrap;
	border-bottom: 1px solid #cb6945;
	border-left: 1px solid #cb6945;
	border-right: 1px solid #e69073;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
	position: absolute;
	
	
}
.tooltip{
	box-sizing: border-box;
	height: 30px;
	width: 150px;
	position: absolute;
	right: -162px;
	margin-top: 6px;
}

.form-text+.tooltip-left{
		margin-left: 3px;
}


.tooltip-left{
	margin-top: 7px;
	left: -161px;
}

.label-about>.tooltip{
	margin-top: 39px;
}

.label-message>.tooltip{
	margin-top: 77px;
}


.tooltip-left>.error-button{
	right: 0;
}

.tooltip-left>.error-button:after{
	content: " ";
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 3px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 21px;
	background-position: -71px -208px;
	z-index: 20;
}




.tooltip>.error-button:before{
	content: " ";
	display: inline-block;
	position: absolute;
	left: -9px;
	top: 3px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 21px;
	background-position: -58px -208px;
	z-index: 20;
}

.tooltip-left>.error-button:before{
	content: none;
}


.close{
  display: block;
  height: 15px;
  width: 15px;
  background-color: #fff; 
  background-image: url(../img/icons.png);
    background-position: -188px -105px;
    background-repeat: no-repeat;
    position: absolute;
    top: 8 px;
    left: 342px;
    border: none;
    cursor: pointer;

}

.close:hover{
	background-position: -209px -105px;
}

.project-title{
	font-family: "OpenSansRegular";
	font-size: 14px;
	color: #727070;
	font-weight: normal;
	margin-bottom: 9px;
	margin-left: -2px;
}
.input-file-box,
.project-input{
  border: 1px solid #d6d5d3;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 320px;
  height: 41px;
  margin-bottom: -5px;
}

.input-file-box{
	border-radius: 5px 0 0 5px;
	height: 39px;
	width: 268px;
}
.input-file-box:after{
	content: " ";
    display: inline-block;
    position: relative;
  width: 52px;
  height: 39px;
left: 235px;
top: -1px;
 background: #fcfbfa; /* Old browsers */
background: -moz-linear-gradient(top, #fcfbfa 0%, #e9e8e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfbfa 0%,#e9e8e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfbfa 0%,#e9e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 border-radius: 0 5px 5px 0;
  border: 1px solid #d6d5d3;
border-left: 1px solid #b9b9b9;
	border-right: 1px solid #b9b9b9;
} 



textarea[type="text"],
input[type="text"]{
	box-sizing: border-box;
	font-family: "OpenSansRegular";
	color: #3f3b3b;
	font-size: 14px;
	padding: 0px 8px;
}

input::-webkit-input-placeholder {
	box-sizing: border-box;
	font-family: "OpenSansLight";
	font-size: 12px;
}

.placeholder{
	box-sizing: border-box;
	font-family: "OpenSansLight";
	font-size: 12px;
}

.text-file-box{
	display: block;
	max-height: 20px;
  overflow: hidden;
	white-space: nowrap;
	font-family: "OpenSansRegular";
	color: #3f3b3b;
	font-size: 12px;
	padding: 0px;
	height: 40px;
	width: 256px;
	position: absolute;
	top: 51px;
	left: 6px;
}





.project-text{
	box-sizing: border-box;
	border: 1px solid #d6d5d3;
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  width: 319px;
 height: 112px;
	resize: none;
	margin-bottom: 9px;
}



.input-file-box:before{
	content: " ";
    display: inline-block;
    position: relative;
	background-image: url(../img/spritesheet.png);
	width: 26px;
    height: 18px;
    background-position: -132px -136px;
    left: 281px;
    bottom: 12px;
    z-index: 10;
	cursor: pointer;
}

.input-file{
	display: none;
}

.submit-form{
	display: block;
	font-style: "OpenSansSemibold";
	font-weight: bold;
	font-size: 14px;
text-decoration: none;
  border-radius: 6px;
  background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  color: #1e7465;
 cursor: pointer;
  border-top: 1px solid #66dbbe;
  border-right: 1px solid #40ab91;
  border-left: 1px solid #40ab91;
  border-bottom: 1px solid #2fa185;
   width: 122px;
  height: 38px; 
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 35px;
  margin-left: 90px;
margin-right: 90px;
}

.submit-form:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
 
}

.error-border{
	box-shadow: 0px 1px 1px 0px #f4d6cb,
				0px 0px 1px 1px #e7a68e;

}

.project-error{ 
	border: 1px solid #cb6945;
  border-radius: 4px;
  background-color: rgba(203, 105, 69, 0.329);
  width: 303px;
  min-height: 49px;
  padding: 0 8px;
  padding-top: 5px;
  margin-top: 20px;
  display: none;
}

.error-title{
  font-size: 16px;
  font-family: "OpenSansSemibold";
  color: #cb6945;
  margin: 0;
  padding: 0;
}

.error-close{
	display: block;
	background-image: url(../img/spritesheet.png);
	width: 13px;
	height: 13px;
	background-position: -7px -127px;
	background-repeat: no-repeat;
	position: absolute;
	top: 3px;
	right: 2px;
	cursor: pointer;
}

.error-text{
	font-size: 14px;
	font-family: "OpenSansRegular";
	color: #cb6945;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.project-success-box{
	background-color: #f7f6f5;
	border-radius: 6px;
	position: fixed;
	top: 28%;
	left: 37%;
	padding: 26px 21px;
	display: none;
}

.success-close{
  display: block;
  height: 15px;
  width: 15px;
  background-color: #fff; 
  background-image: url(../img/icons.png);
    background-position: -188px -105px;
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 6px;
    border: none;
    cursor: pointer;
}

.project-success{
  border: 1px solid #49bb7b;
  border-radius: 4px;
  background-color: rgba(73, 187, 123, 0.329);
width: 302px;
min-height: 46px;
  padding: 0 8px;
  padding-top: 5px;
}

.success-title{
	font-size: 16px;
  font-family: "OpenSansSemibold";
  color: #49bb7b;
  margin: 0;
  padding: 0;
}

.success-text{
	font-size: 14px;
	font-family: "OpenSansRegular";
	color: #49bb7b;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}


