.page-portfolio{
	padding-top: 39px;
	padding-left: 41px;
	padding-right: 40px;
	padding-bottom: 39px;
}

.portfolio{
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  border: 1px solid #c5c5c5;
  width: 165px;
  display: inline-block;
  margin-right: 28px;
  margin-bottom: 30px;
  vertical-align: top;

}

.portfolio:nth-child(3n){
	margin-right: 0;
}
.port-img{
	width: 165px;
	height: 122px;
	position: relative;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-radius: 5px;
}

.port-img img{
	
	min-width: 100%;
	height: 100%;
}

.port-link{
	position: absolute;
	width: 165px;
	height: 122px;
	top: 0;
	left: 0;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.4);
	display: none;

}


.portfolio:hover .port-link{
	display: block;
}

.port-link:active p{
	background: #e2e0de;
}

.port-link p{
	font-family: "OpenSansLight";
	width: 110px;
	height: 35px;
	background: #f8f7f6;
	margin: 0 auto;
	color: #727070;
	border-radius: 5px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #727070;
	margin-top: 25%;
}

.portfolio-name{
	display: block;
	min-height: 32px;
	background: #f2f2f2;
	font-size: 13.35px;
	font-family: "OpenSansSemiBold";
	color: #727070;
	text-align: center;
	line-height: 33px;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px solid #bdbdbd;
}



.portfolio-text{
	margin: 0;
	background: #fff;
	font-family: "OpenSansLight";
	text-align: center;
	font-size: 12px;
	padding: 12px;
	border-radius: 0 0 5px 5px;

}

.add-site{
	height: 133px;
}

.add-site a{
	text-decoration: none;
	
}



.add-site-name{
	display: block;
	font-size: 14px;
	font-family: "OpenSansSemiBold";
	color: #727070;
	text-align: center;
	margin: 0;
}

.add-site-name:before{
content: " ";
  display: block;
  height: 54px;
  width: 54px;
  background-image: url(../img/icons.png);
    background-position: -91px -84px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 0px 0px #fff,
  					-1px -1px 0px 0px #d5d5d5;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 9px;

}